@import "tailwindcss";

@theme {
  --color-primary: #005B96;
  --color-secondary: #F4A460;
  --color-tertiary: #FF5F1F;
  --color-cream: #F5F5F0;

  --font-family-montserrat: 'Montserrat', sans-serif;
  --font-family-lexend: 'Lexend', sans-serif;
}

body {
  background-color: #F5F5F0;
  font-family: 'Lexend', sans-serif;
}
